<div class="align-items-center justify-content-center">
    <div class="col-md-4 offset-md-4 mt-5">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="username" class="mb-2"><strong>Username</strong> / <strong>Email</strong></label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" required/>
                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password"class="mb-2"><strong>Password</strong></label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"  required/>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors.required">Password is required</div>
                        </div>
                    </div>
                    <div *ngIf="submitted && (errorResponse.error.length > 0)" class="invalid-feedback">
                        <div>{{errorResponse.error}</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="help">If you are the first time user, please click Help to setup demo data. System Admin user is <strong>Admin</strong> and password is <strong>Admin!123</strong>.</label>
                    </div>
                    <div class="form-group mb-3">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>