<form #ngFollowup="ngForm" name="form" (ngSubmit)="onSubmit(ngFollowup)" *ngIf="!isSuccessful" novalidate>

    <div class="form-group mb-3">
        <label for="Title">Title</label>
        <input type="text" class="form-control" name="Title" [(ngModel)]="followupRequest.Title" required
            #Title="ngModel" [ngClass]="{ 'is-invalid': ngFollowup.submitted && Title.errors }"/>
        <div class="invalid-feedback" *ngIf="ngFollowup.submitted && Title.errors">
            <div *ngIf="Title.errors?.required">Title is required</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="FullDescription">Follow Up Details</label>
        <textarea class="form-control" name="FullDescription" [(ngModel)]="followupRequest.FullDescription" required
        #FullDescription="ngModel" rows="4" [ngClass]="{ 'is-invalid': ngFollowup.submitted && FullDescription.errors }"></textarea>
        <div class="invalid-feedback" *ngIf="ngFollowup.submitted && FullDescription.errors">
            <div *ngIf="FullDescription.errors?.required">Bug Description is required</div>
        </div>
    </div>
	
	<div class="form-group mb-3">
		<label for="StatusId">Status</label>
        <select class="form-control" [(ngModel)]="followupRequest.StatusId" name="StatusId" #StatusId="ngModel"
        [ngClass]="{ 'is-invalid': ngFollowup.submitted && StatusId.value == 0}">
            <option value=0>--Select--</option>
            <option *ngFor="let status of StatusList" value={{status.StatusId}}>
                {{status.StatusName}}
            </option>
        </select>
        <div class="invalid-feedback" *ngIf="ngFollowup.submitted && StatusId.value == 0">
            <div>Please pick any Status</div>
        </div>
	</div>
	
	<div class="form-group mb-3">
		<label for="PriorityId">Priority</label>
        <select class="form-control" [(ngModel)]="followupRequest.PriorityId" name="PriorityId" #PriorityId="ngModel"
        [ngClass]="{ 'is-invalid': ngFollowup.submitted && PriorityId.value == 0}">
            <option value=0>--Select--</option>
            <option *ngFor="let priority of PriorityList" value={{priority.PriorityId}}>
                {{priority.PriorityName}}
            </option>
        </select>
        <div class="invalid-feedback" *ngIf="ngFollowup.submitted && PriorityId.value == 0">
            <div>Please pick any Priority</div>
        </div>
	</div>
	
	<div class="form-group mb-3">
		<label for="AssignUserId">Assign To</label>
        <select class="form-control" [(ngModel)]="followupRequest.AssignUserId" name="AssignUserId" #AssignUserId="ngModel"
        [ngClass]="{ 'is-invalid': ngFollowup.submitted && AssignUserId.value == 0}">
            <option value=0>--Select--</option>
            <option *ngFor="let user of UserList" value={{user.UserId}}>
                {{user.UserName}}
            </option>
        </select>
        <div class="invalid-feedback" *ngIf="ngFollowup.submitted && AssignUserId.value == 0">
            <div>Please pick any user to follow up</div>
        </div>
	</div>

    <div class="form-group mb-3">
        <input class="btn btn-primary btn-block" type="submit" value="Save" />
    </div>
    <div class="alert alert-warning" *ngIf="ngFollowup.submitted && isSaveFailed">
        {{ errorMessage }}
    </div>
</form>

